<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - The Expedition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='The_Expedition.ico') }}">

</head>

<body id="vanta-bg">


<div class="container">

<div class="header">

    <h1 class="title">Admin Dashboard</h1>

    <div class="burger" id="burger">
        ☰
    </div>
    <div class="header-buttons">
        <a href="{{ url_for('analytics') }}" class="details-btn">
        Analytics
        </a>

        <a href="{{ url_for('booking_details') }}" class="details-btn">
            Booking Details
        </a>

        <a href="{{ url_for('logout') }}" class="logout-btn">
            Logout
        </a>

    </div>

</div>

    <div class="stats">
        <div class="card">
            <h2>Total Users</h2>
            <p>{{ total_users }}</p>
        </div>

        <div class="card">
            <h2>Total Bookings</h2>
            <p>{{ total_bookings }}</p>
        </div>

        <div class="card income">
            <h2>Total Income</h2>
            <p>₱ {{ total_income }}</p>
        </div>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>

            <tbody>
                {% for u in users %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.cells.min.js"></script>

<script>
const burger = document.getElementById("burger");
const navMenu = document.getElementById("navMenu");

burger.addEventListener("click", () => {
    navMenu.classList.toggle("active");
});

VANTA.CELLS({
  el: "#vanta-bg",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200,
  minWidth: 200,
  scale: 1,
  color1: 0xa52a28,
  color2: 0xbc8032,
  size: 5.00
})
</script>
</body>
</html>