<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='booking_details.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='The_Expedition.ico') }}">
    <title>Booking Details</title>
</head>
<body>
<div class="top-bar">
    <a href="{{ url_for('admin') }}" class="back-btn">
        ⬅ Admin Dashboard
    </a>
</div>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Flight</th>
                <th>Contact Person</th>
                <th>Pax</th>
                <th>Price</th>
                <th>Total</th>
                <th>Ticket ID</th>
                <th>Status</th>
                <th>Date & Time</th>
            </tr>
        </thead>

        <tbody>
            {% for b in bookings %}
            <tr>
                <td>{{ b.id }}</td>
                <td>{{ b.user_id }}</td>
                <td>{{ b.flight }}</td>
                <td>{{ b.contact }}</td>
                <td>{{ b.pax }}</td>
                <td>₱ {{ b.price }}</td>
                <td>₱ {{ b.total }}</td>
                <td>{{ b.booking_ref }}</td>
                <td>
                    {% if b.status == 'CONFIRMED' %}
                        <span style="color:green; font-weight:bold;">{{ b.status }}</span>
                    {% elif b.status == 'pending' %}
                        <span style="color:orange; font-weight:bold;">{{ b.status }}</span>
                    {% else %}
                        <span style="color:red; font-weight:bold;">{{ b.status }}</span>
                    {% endif %}
                </td>
                <td>{{ b.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>