<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='The_Expedition.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   
</head>

<body>

    <div id="vanta-bg"></div>

    <div class="auth-container">
        <h2>Login</h2>
        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p id="flash"><i class="fa-sharp fa-solid fa-circle-exclamation"></i> {{ messages[0] }}.</p>
                {% endif %}
            {% endwith %}
            <button type="submit">Login</button>
        </form>

        <p id="reg">Don't have an account? <a href="/register">Register</a></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.clouds.min.js"></script>
    <script>
        VANTA.CLOUDS
    ({
        el: "#vanta-bg",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        skyColor: 0xd7a968,
        cloudColor: 0xb15d2d,
        cloudShadowColor: 0x0,
        sunColor: 0xffffff,
        sunGlareColor: 0x1b1919,
        sunlightColor: 0x0,
        speed: 0.80
    })
    </script>

</body>
</html>